@import url('components.css');

.home-bg{
      background: url(../images/img3.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      height: 100vh;
  }

.home-bg .home{
   display: flex;
   align-items: center;
   min-height: 60vh;
}

.content{
   width: 1200px;
   height: auto;
   margin: auto;
   color:white;
   position: relative;
}

.content .per{
   padding: 20px;
   color: white;
   padding-bottom: 40px;
   font-family: Arial;
   letter-spacing: 1.2px;
   line-height: 30px;
}

.content h1{
   font-family: Segoe Print;
   font-size: 50px;
   padding-left: 20px;
   margin-top: 9%;
   letter-spacing: 2px;
   color:white;
 

}

.content .cn{
   width: 120px;
   height: 40px;
   background: #64418d;
   border: none;
   margin-left: 20px;
   margin-bottom: 50px;
   font-size: 18px;
   border-radius: 10px;
   cursor: pointer;
   background: -webkit-linear-gradient(left, #e68c58, #797677);
}

.content .cn a{
   text-decoration: none;
   color: white;
   transition: .3s ease;
  

}

.cn:hover{
   background: -webkit-linear-gradient(left, #797677,#e68c58);
   text-decoration: underline;
}

.content span{
   color: #00aeff;
   font-size: 60px;
}


.home-bg .home .content p{
   font-size: 1.6rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--white);
}


.home-category .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 27rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.home-category .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background: -webkit-linear-gradient(left, #b224ef, #7579ff);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.home-category .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.home-category .box-container .box h3{
   text-transform: uppercase;
   color:var(--black);
   padding:1rem 0;
   font-size: 2rem;
}

.home-category .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:.5rem 0;
}

.home-category{
   padding-bottom: 0;
}

.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.products .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   border-color: #918f8f;
   background-color:  #d4e1e7;
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
   position: relative;
}

.products .box-container .box .price{
   position: absolute;
   top:1rem; left:1rem;
   padding:0.2rem;
   border-radius: 5rem;
   background: -webkit-linear-gradient(left, #52b8a7, #949091);
   font-size: 1.8rem;
   color:var(--white);
}

.products .box-container .box .price span{
   font-size: 2.5rem;
   color:var(--white);
   margin:0 .2rem;
}

.products .box-container .box .fa-eye{
   position: absolute;
   top:1rem; right:1rem;
   border-radius: 5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   border:var(--border);
   color:var(--black);
   font-size: 2rem;
   background: -webkit-linear-gradient(left, #52b8a7, #949091);
}

.products .box-container .box .fa-eye:hover{
   color:var(--white);
   background-color: var(--white);
}

.products .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.products .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.products .box-container .box .qty{
   margin:.5rem 0;
   border-radius: 5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   width: 100%;
}

.quick-view .box{
   max-width: 100rem;
   padding:2rem;
   text-align: center;
  /* border:var(--border);*/
   background-color:  #d4e1e7;
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
   position: relative;
   margin:0 auto;
}

.quick-view .box img{
   height: 25rem;
   margin-bottom: 1rem;
}

.quick-view .box .price{
   position: absolute;
   top:1rem; left:1rem;
   padding:1rem;
   border-radius: 5rem;
   background: -webkit-linear-gradient(left, #52b8a7, #949091);
   font-size: 1.8rem;
   color:var(--white);
}

.quick-view .box .price span{
   font-size: 2.5rem;
   color:var(--white);
   margin:0 .2rem;
}

.quick-view .box .qty{
   margin:.5rem 0;
   border-radius: 5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   width: 100%;
}

.quick-view .box .name{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.quick-view .box .details{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
}

.p-category{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.p-category{
   padding-bottom: 0;
}

.p-category a{
   padding:1.5rem;
   text-align: center;
   border:var(--border);
   background: -webkit-linear-gradient(left, #e68c58, #797677);
   box-shadow: var(--box-shadow);
   border-radius:5rem;
   font-size: 2rem;
   text-transform: capitalize;
   color:var(--black);
}

.p-category a:hover{
   background: -webkit-linear-gradient(left, #797677, #e68c58);
   color: var(--white);
}

.about .row{
   display: flex;
   flex-wrap: wrap;
   gap:3rem;
   align-items: center;
}

.about .row .box{
   flex:1 1 40rem;
   text-align: center;
}

.about .row .box img{
   margin-bottom: 2rem;
   height: 40rem;
}

.about .row .box h3{
   padding:1rem 0;
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.about .row .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:1rem 0;
}

.about .row .box .btn{
   display: inline-block;
   width: auto;
}

.reviews .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.reviews .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
}

.reviews .box-container .box img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   margin-bottom: 1rem;
   object-fit: cover;
}

.reviews .box-container .box p{
   padding:1rem 0;
   font-size: 1.6rem;
   color:var(--light-color);
   line-height: 2;
}

.reviews .box-container .box .stars{
   display: inline-block;
   padding:1rem;
   background-color: var(--light-bg);
   border:var(--border);
   border-radius: .5rem;
   margin:.5rem 0;
}

.reviews .box-container .box .stars i{
   font-size: 1.7rem;
   color:#e68c58;
   margin:0 .3rem;
}

.reviews .box-container .box h3{
   margin-top: 1rem;
   color:var(--black);
   font-size: 2rem;
}

.contact form{
   margin:0 auto;
   max-width: 100rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: #d4e1e7;
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
   padding-top: 1rem;
}

.contact form .box{
   width: 100%;
   padding:1.2rem 1.4rem;
   border:var(--border);
   margin:1rem 0;
   background-color: var(--light-bg);
   font-size: 1.8rem;
   color:var(--black);
   border-radius: 5rem;
}

.contact form textarea{
   height: 15rem;
   resize: none;
}

.search-form form{
   display: flex;
   gap:1.5rem;
   align-items: center;
}

.search-form form .box{
   width: 100%;
   padding:1.4rem;
   border:var(--border);
   margin:1rem 0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   font-size: 2rem;
   color:var(--black);
   border-radius: 5rem;
}

.search-form form .btn{
   display: inline-block;
   width: auto;
   margin-top: 0;
}

.wishlist .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.wishlist .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color:  #d4e1e7;
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
   position: relative;
}

.wishlist .box-container .box .price{
   padding:1rem 0;
   color:var(--black);
   font-size: 2.5rem;
}

.wishlist .box-container .box .price span{
   font-size: 2.5rem;
   color:var(--white);
   margin:0 .2rem;
}

.wishlist .box-container .box .fa-eye{
   position: absolute;
   top:1rem; right:1rem;
   border-radius: 5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   border:var(--border);
   color:var(--black);
   font-size: 2rem;
   background-color: var(--white);
}

.wishlist .box-container .box .fa-eye:hover{
   color:var(--white);
   background: -webkit-linear-gradient(left, #949091, #52b8a7);
}

.wishlist .box-container .box .fa-times{
   position: absolute;
   top:1rem; left:1rem;
   border-radius: 5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   color:var(--white);
   font-size: 2rem;
   background: -webkit-linear-gradient(left, #52b8a7, #949091);
}

.wishlist .box-container .box .fa-times:hover{
   background: -webkit-linear-gradient(left, #949091, #52b8a7);
}

.wishlist .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.wishlist .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   padding-top: 1rem;
}

.wishlist .box-container .box .qty{
   margin:.5rem 0;
   border-radius: 5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   width: 100%;
}

.wishlist .wishlist-total{
   max-width: 50rem;
   margin: 0 auto;
   margin-top: 2rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: #d4e1e7;
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
}

.wishlist .wishlist-total p{
   margin-bottom: 2rem;
   font-size: 2.5rem;
   color:var(--light-color);
}

.wishlist .wishlist-total p span{
   color:var(--black);
}

.shopping-cart .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.shopping-cart .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: #d4e1e7;
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
   position: relative;
}

.shopping-cart .box-container .box .price{
   padding:1rem 0;
   color:var(--black);
   font-size: 2.5rem;
}

.shopping-cart .box-container .box .price span{
   font-size: 2.5rem;
   color:#d4e1e7;
   margin:0 .2rem;
}

.shopping-cart .box-container .box .fa-eye{
   position: absolute;
   top:1rem; right:1rem;
   border-radius: 5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   border:var(--border);
   color:var(--black);
   font-size: 2rem;
   background: -webkit-linear-gradient(left, #52b8a7, #949091);
}

.shopping-cart .box-container .box .fa-eye:hover{
   background: -webkit-linear-gradient(left, #949091,  #52b8a7);
   color: white;
}

.shopping-cart .box-container .box .fa-times{
   position: absolute;
   top:1rem; left:1rem;
   border-radius: 5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   color:var(--white);
   font-size: 2rem;
   background: -webkit-linear-gradient(left, #52b8a7, #949091);
}

.shopping-cart .box-container .box .fa-times:hover{
   background: -webkit-linear-gradient(left, #949091,  #52b8a7);
}

.shopping-cart .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.shopping-cart .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   padding-top: 1rem;
}

.shopping-cart .box-container .box .qty{
   margin-top: 1rem;
   border-radius: 5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   width: 100%;
}

.shopping-cart .box-container .sub-total{
   margin-top: 2rem;
   font-size: 2rem;
   color:var(--light-color);
}

.shopping-cart .box-container .sub-total span{
   color:var(--black);
}

.shopping-cart .cart-total{
   max-width: 50rem;
   margin: 0 auto;
   margin-top: 2rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius:5rem;
}

.shopping-cart .cart-total p{
   margin-bottom: 2rem;
   font-size: 2.5rem;
   color:var(--light-color);
}

.shopping-cart .cart-total p span{
   color:var(--black);
}

.display-orders{
   text-align: center;
   padding-bottom: 0;
}

.display-orders p{
   display: inline-block;
   padding:1rem 2rem;
   margin:1rem .5rem;
   font-size: 2rem;
   text-align: center;
   border:var(--border);
   background-color: #d4e1e7;
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
}

.display-orders p span{
   color:var(--black);
}

.display-orders .grand-total{
   margin-top: 2rem;
   font-size: 2.5rem;
   color:var(--light-color);
}

.display-orders .grand-total span{
   color:var(--black);
}

.checkout-orders form{
   padding:2rem;
   border:var(--border);
   background-color: #d4e1e7;
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
}

.checkout-orders form h3{
   border-radius:5rem;
   background: -webkit-linear-gradient(left, #e68c58, #797677);
   color:var(--white);
   padding:1.5rem 1rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 2.5rem;
}

.checkout-orders form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   justify-content: space-between;
}

.checkout-orders form .flex .inputBox{
   width: 49%;
}

.checkout-orders form .flex .inputBox .box{
   width: 100%;
   border:var(--border);
   border-radius: 5rem;
   font-size: 1.8rem;
   color:var(--black);
   padding:1.2rem 1.4rem;
   margin:1rem 0;
   background-color: var(--light-bg);
}

.checkout-orders form .flex .inputBox span{
   font-size: 1.8rem;
   color:var(--light-color);
}

.placed-orders .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: flex-start;
}

.placed-orders .box-container .box{
   padding:1rem 2rem;
   flex:1 1 40rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.placed-orders .box-container .box p{
   margin:.5rem 0;
   line-height: 1.8;
   font-size: 2rem;
   color:var(--light-color);
}

.placed-orders .box-container .box p span{
   color:#7579ff;
}

@media (max-width:768px){

   .home-bg{
      background-position: left;
   }

   .home-bg .home{
      justify-content: center;
      text-align: center;
   }

   .checkout-orders form .flex .inputBox{
      width: 100%;
   }

}

@media (max-width:450px){

   .home-category .box-container{
      grid-template-columns: 1fr;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

   .quick-view .box img{
      height: auto;
      width: 100%;
   }

   .about .row .box img{
      width: 100%;
      height: auto;
   }   

   .shopping-cart .box-container{
      grid-template-columns: 1fr;
   }

   .wishlist .box-container{
      grid-template-columns: 1fr;
   }

}











/*About*/

.about{
   width: 100%;
   height: 100vh;
   padding: 70px 0;
}

.about .about_main{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.about .about_main .image img{
   width: 800px;
   position: relative;
   top: 60px;
}

.about .about_main .about_text h1 span{
   color: #b224ef;
   margin-right: 15px;
   font-family: sans-serif;
}

.about .about_main .about_text h1{
   font-size: 55px;
   position: relative;
   bottom: 50px;
}

.about .about_main .about_text h3{
   font-size: 30px;
   margin: 0 0 50px 0;
}

.about .about_main .about_text p{
   width: 650px;
   text-align: justify;
   margin-right: 30px;
   line-height: 22px;
}

.about .about_btn{
   background: -webkit-linear-gradient(left, #7579ff, #b224ef);
   padding: 12px 25px;
   text-decoration: none;
   color: #fff;
   position: relative;
   left: 55%;
   bottom: 30px;
}


/*Review*/

.review{
   width: 100%;
   height: 100vh;
   padding: 70px 0;
}

.review h1{
   font-size: 55px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.review h1 span{
   margin-left: 15px;
   color: #b224ef;
   font-family: sans-serif;
}

.review h1 span::after{
   content: '';
   width: 100%;
   height: 2px;
   background: #b224ef;
   position: relative;
   bottom: 15px;
   display: block;
}

.review .review_box{
   width: 95%;
   margin: 70px auto;
   display: flex;
}

.review .review_box .review_card{
   width: 350px;
   height: 535px;
   box-shadow: 0 2px 8px rgba(0,0,0,0.5);
   border-radius: 8px;
   padding: 8px 20px;
   margin: 0 8px;
}

.review .review_box .review_card .review_profile{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   transition: 0.3s;
}

.review .review_box .review_card:hover .review_profile{
   transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img{
   width: 180px;
   height: 180px;
   object-fit: cover;
   object-position: center;
   border-radius: 50%;
   border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text{
   text-align: center;
}

.review .review_box .review_card .review_text .name{
   color: #000;
   transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name{
   transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon{
   color: #b224ef;
   transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_icon{
   transform: translateY(-30px);
}

.review .review_box .review_card .review_text .review_social i{
   margin: 5px 1px;
   font-size: 15px;
   opacity: 0;
   cursor: pointer;
   transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social i{
   opacity: 1;
   transform: translateY(-8px);
}

.review .review_box .review_card .review_text p{
   text-align: center;
   line-height: 22px;
   transition: 0.3s;
}

.review .review_box .review_card:hover .review_text p{
   margin-top: 5px;
}





